/* layout.module.scss */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;

    
        @media (min-width: $breakpoint-md) {
          padding-left: 260px;
        }
      
      
}

.layoutBody {
    display: flex;
    margin-top: 80px;
    flex: 1;
    overflow: hidden;
}

.layoutMain {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
